rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // Los usuarios SOLO pueden acceder a sus propias imágenes
    match /users/{userId}/images/{imageId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
